.sn-org-chart {
  .sn-org-homebutton {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 20px;
    width: 20px;
    border-color: transparent;
    background-color: transparent;
    fill: rgba(89, 89, 89, 0.8);
    transition: fill 200ms ease-out;

    &:hover {
      fill: #595959;
    }

    &.disabled {
      display: none;
    }
  }
}
