body {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #000;
  stroke-width: 3;
}

.border {
  fill: none;
  shape-rendering: crispEdges;
  stroke: #aaa;
}

.remove {
  background: black;
}

.nodeRect {
  border: 2px solid black;
  background: transparent;
  position: absolute;
}

.nodeReact .text {
  color: pink;
  font-size: 20px;
  font-weight: bold;
}

.bounding {
  border: 2px solid black;
}

.orgCard {
  background: pink;
  width: 100%;
  height: 100%;
  font-size: 40px;
}
.org-path-holder {
  transform-origin: 0% 0%;
  transition-property: all;
  transition-duration: 0.5s;
}

.org-node-holder {
  position: absolute;
  transform-origin: 0% 0%;
  transition-property: all;
  transition-duration: 0.5s;
}

.org-warning {
  position: absolute;
  bottom: 0px;
  left: 0px;
  font-style: italic;
  font-size: 13px;
  color: rgb(123, 122, 120);
}

.org-error {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.2em;
  transform: translate(-50%, -50%);
}
