.link {
  fill: none;
  stroke: #8c8c8c;
  stroke-width: 3;
}

.node-rect {
  position: absolute;
}

.org-root {
  background-color: #8c8c8c;
  width: 20px;
  height: 20px;
  border-radius: 20px;
}

.org-card-top {
  height: 5px;
  width: 100%;
  border-radius: 3px 3px 0px 0px;
}

.org-card-textarea {
  height: 100%;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 0px 0px 3px 3px;
}

.org-card-title {
  font-size: 26px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.org-card-text {
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* For css only transitions, does not work in IE11 */
.org-path-holder:not(.org-disable-transition) {
  transform-origin: 0% 0%;
  transition-property: all;
  transition-duration: 0.5s;
}

.org-node-holder {
  position: absolute;
  transform-origin: 0% 0%;
}

.org-node-holder:not(.org-disable-transition) {
  transition-property: all;
  transition-duration: 0.5s;
}

.org-warning {
  position: absolute;
  bottom: 0px;
  left: 0px;
  font-style: italic;
  font-size: 13px;
  color: rgb(123, 122, 120);
}

.org-error {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.2em;
  transform: translate(-50%, -50%);
}

/* Tooltip text */
.tooltip {
  visibility: hidden;
  opacity: 0;
  font-family: 'QlikView Sans', sans-serif;
  width: 300px;
  height: 75px;
  background-color: #646464;
  color: #E6E6E6;
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  padding: 5px 0;
  border-radius: 6px;

  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -100px;
}

/* Tooltip arrow */
.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: #646464 transparent transparent transparent;
}
