.link {
  fill: none;
  stroke: #8c8c8c;
  stroke-width: 3;
}

.node-rect {
  position: absolute;
}

.org-root {
  background-color: #8c8c8c;
  width: 20px;
  height: 20px;
  border-radius: 20px;
}

.org-card-top {
  height: 5px;
  width: 100%;
  border-radius: 3px 3px 0px 0px;
}

.org-card-textarea {
  height: 100%;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 0px 0px 3px 3px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.org-card-textarea.selected {
  border: 4px solid black;
  border-radius: 4px;
}

.org-card-textarea.not-selected {
  opacity: 0.5;
}

.org-card-title {
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.org-card-text {
  font-size: 11px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* For css only transitions, does not work in IE11 */
.org-path-holder:not(.org-disable-transition) {
  transform-origin: 0% 0%;
  transition-property: all;
  transition-duration: 0.5s;
}

.org-node-holder {
  position: absolute;
  transform-origin: 0% 0%;
}

.org-node-holder:not(.org-disable-transition) {
  transition-property: all;
  transition-duration: 0.5s;
}

.org-warning {
  position: absolute;
  bottom: 0px;
  left: 0px;
  font-style: italic;
  font-size: 13px;
  color: rgb(123, 122, 120);
}

.org-error {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.2em;
  transform: translate(-50%, -50%);
}

.more {
  border: 2px solid #737373;
  background: #e6e6e6;
  color: #484848;
  font-size: 20px;
  text-align: center;
  position: absolute;
  box-sizing: border-box;
  height: 24px;
  line-height: 20px;
  padding: 0 10px 0 10px;
  user-select: none;
  cursor: pointer;
}
.more:hover {
  border: 2px solid #212121;
}
